
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Kategori Ekle</title>
</head>
<body>
<div class="admin">
    <a class="btn btn-warning" href="/admin/home">Ana Sayfaya Git</a>
    <h4>Kategori Ekle</h4>
    <form action="/admin/AddCategory" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Kategori</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="category" placeholder="Örnek: Demir Kapılar">
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>
        @{
            if (ViewBag.SuccessMessage != null)
            {
                <div class="SuccessMessage">@ViewBag.SuccessMessage</div>
            }
        }
        @{
            if (ViewBag.ErrorMessage != null)
            {
                <div class="ErrorMessage">@ViewBag.ErrırMessage</div>
            }
        }
    </form>
</div>
</body>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>