
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Kategori Ekle</title>
</head>
<body>
<div>
    
    <h4>Kategori Ekle</h4>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">İletişim</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="contact">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Tarih</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="date">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resim-1</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="image1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resim-2</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="image2">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resim-3</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="image3">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Resim-4</label>
            <input type="date" class="form-control" id="exampleInputPassword1" name="image4">
        </div>
     
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>