
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">

</head>
<body>
<div>
    <form action="/admin/LoginReq" method="post">
        <input type="text" name="username" placeholder="Kullanıcı Adı">
        <input type="password" name="password" placeholder="Şifre">
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
        <span>@(ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : "") </span>
    </form>
</div>
</body>
</html>

