
@{
    ViewBag.Title = "Lazer Kesim";
    Layout = "_Layout";
}
<!-- Page Title -->
<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Lazer Kesim</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/anasayfa">Anasayfa</a></li>
                <li class="current">Lazer Kesim</li>
            </ol>
        </nav>
    </div>
</div>
<!-- End Page Title -->


<!-- Start Laser -->
<section class="container laser" data-aos="fade-up" data-aos-duration="1000">
    <div class="col-lg-12 col-md-8-9 order-lg-12 order-1">
        <p><img alt="" class="img-fluid mx-auto" src="~/uploads/template/img/laser.jpg"></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>Güç : 6 KW&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

        <p>Kesim ölçüsü : 1500x3000mm</p>

        <p>Hava , Oksijen ve Azot ile hassas kesim</p>

        <p>Malzemeli ve malzemesiz olarak fason kesim yapmaktayız.</p>

        <p>Tam plaka yerine istenilen ölçülerde parça ürün temin etmekteyiz.</p>

        <div class="row mt-50">
            <div class="col-lg-12 col-md-12">
                <h5 class="mb-30" data-aos="fade-right">Kesim Kalınlıkları Tablosu</h5>

                <table class="table table-bordered" data-aos="fade-left">
                    <thead>
                    <tr>
                        <th>Malzeme</th>
                        <th>Kesim Kalınlığı</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Pirinç</td>
                        <td>0,20mm - 5mm</td>
                    </tr>
                    <tr>
                        <td>Bakır</td>
                        <td>0,20mm - 5mm</td>
                    </tr>
                    <tr>
                        <td>Paslanmaz</td>
                        <td>0,20mm - 15mm</td>
                    </tr>
                    <tr>
                        <td>Alüminyum</td>
                        <td>0,50mm - 10mm</td>
                    </tr>
                    <tr>
                        <td>Demir ve Galvaniz</td>
                        <td>0,50mm - 20mm</td>
                    </tr>
                    <tr>
                        <td>Yay Çeliği</td>
                        <td>0,20mm - 10mm</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- End Laser -->
