@{
    ViewBag.Title = "Projelerimiz";
    Layout = "_Layout";
}
<!-- Page Title -->
<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Projelerimiz</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/anasayfa">Anasayfa</a></li>
                <li class="current">Projelerimiz</li>
            </ol>
        </nav>
    </div>
</div>
<!-- End Page Title -->

<!-- ProjectsSection -->
<section id="portfolio" class="portfolio section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>PROJELERİMİZ</h2>
    <p>Avanlar Metal - Projeler</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        @*<li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-product">Card</li>
                <li data-filter=".filter-branding">Web</li>*@
        @{
          if (ViewBag.Categories != null)
          {
            for (int i = -1; i < ViewBag.Categories.Count; i++)
            {

              if (i == -1)
              {
                <li data-filter="*" class="filter-active">Tüm Projeler</li>
              }
              else
              {
                var category = ViewBag.Categories[i];
                <li data-filter=".filter-@category.CategoryId">@category.Category</li>
              }
            }
          }
        }
      </ul><!-- End Portfolio Filters -->

      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">


        @{
          if (ViewBag.Products != null)
          {
            for (int i = 0; i < ViewBag.Products.Count; i++)
            {
              var product = ViewBag.Products[i];
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@product.CategoryId">
                <img src="@product.img1" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>@product.Category</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a href="@product.img1" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="/projelerimiz/detay?proje=15" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            }
          }
        }

      </div><!-- End Portfolio Container -->

    </div>

  </div>

</section><!-- /Projects Section -->

